@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*============Colors============*/
:root{
    /*============Primary============*/
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    
    /*============Nrutral============*/
    --dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);


}

/*=========Typography=========*/

:root{
    --body-font-size: 14px;
    --montserrat: 'Montserrat', sans-serif;
    --Fraunces: 'Fraunces', serif;
}

body{
    background-color: var(--cream)
}

.wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    flex-direction: column;
    gap: 1.5em;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--white);
    height: 500px;
}

.left img{
    height: 500px;
    border-radius: 10px 0 0 10px;
}

.right{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
    margin: 40px 40px;
    gap: 1em;
    padding: 0 20px;
}

.title-soft{
    text-transform: uppercase;
    color: var(--dark-grayish-blue);
    font-family: var(--montserrat);
    font-weight: 500;
    letter-spacing: 1px;
}

.title-big{
    width: 200px;
}

.right p{
    color: var(--dark-grayish-blue);
    font-family: var(--montserrat);
    font-size: var(--body-font-size);
}

.price{
    display: flex;
    width: 100%;
    gap: 2rem;
    align-items: center;
}

.price h3{
    font-size: 30px;
    color: var(--dark-cyan);
    font-weight: 700;
    font-family: var(--Fraunces);
}

.smaller{
    text-decoration:line-through;
}

.card-btn{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 100%;
    padding: 20px 0;
    gap: 1em;
    background-color: var(--dark-cyan);
}


.button{
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    font-family: var(--montserrat);
    font-weight: 700;
}



@media only screen and (max-width: 480px){
    .container{
        display: flex;
        flex-direction: column;
        width: 350px;
        justify-content: center;
        transform: scale(0.95);
        align-items: center;
        height: auto;
        transform: scale(0.9);
    }

    .wrapper{
        width: 375px;
        align-items: center;
        height: 100vh;
        gap: 1px;
    }


    .card-btn:hover{
        background-color: var(--dark-cyan);
    }
    
    .left img{ 
        background: url('./images/image-product-mobile.jpg');
        height: 270px;
        width: 350px;
        display: block;
        border-radius: 5px 5px 0 0;
        object-fit: cover;
    }

    .title-big{
        width: 100%;
    }




 
}

